.moving-letter {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
    transition: 0.2s ease-out;
  }
  
  .moving-letter:hover {
    transform: scale(1.2);
  }
  
  .letter-container {
    position: relative;
    width: 1120px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  